.enquiry{
    background-color: rgb(171, 230, 210);
}

.mapresp
{
    overflow:hidden;
    padding-bottom: 40%;
    position: relative;
    height:0;
}

.mapresp iframe
{
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    position: absolute;
}
section{
    margin-top: 5px;
    margin-bottom: 10px;
}

.card > img{
    border-radius: 10%;
}

.card{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
    color:tomato;
}

body{
    background-color:silver;
    font-family: cursive;
    font-size: 15px;
}

.fs-1{
font-style: oblique;
color:rgb(255, 99, 71);
font-weight:bold;
font-family: cursive;
}

h4{
    color:rgb(233, 75, 27);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.nav-item{
    font-size: 30px;
}