.enquiry{
    background-color: rgb(171, 230, 210);
}

.mapresp
{
    overflow:hidden;
    padding-bottom: 40%;
    position: relative;
    height:0;
}

.mapresp iframe
{
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    position: absolute;
}
section{
    margin-top: 5px;
}

.card{
    display: flex;
    flex-wrap: wrap;
}